*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    margin-top: 3%;
}
.header h1{
    font-family: 'Black Ops One', cursive;
}

.selector{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}

.choices{
    display: flex;
}



.selected{
    border-color: black;
    transition: border-color .2s ease-in-out;
}

.first-x{
    margin-bottom: 2em;
    color: rgba(0, 0, 0, .8);
}
.first-x p{
    font-family: 'Amatic SC', cursive;
    font-family: 'Audiowide', cursive;
}

.start-game{
    margin: 6% 5%;
    display: flex;
    justify-content: center;
}
.start-game input[type="button"]{
    font-family: 'Kelly Slab', cursive;
    font-size: 1.1rem;
    padding: .55rem 1rem;
    letter-spacing: .1rem;
}


.game{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    height: 32.5%;
    width: 100%;
    margin: 0;
    display: flex;
}

.col{
    background-color: white;
    width: 32.5%;
    flex: none;
    margin: 0;
    display: flex;
    justify-content: center;
}
.col span{
    margin: auto;
    font-size: 3.7rem;
    font-family: 'Nunito', sans-serif;
    position: relative;
    vertical-align: middle;
    animation-name: appear;
    animation-duration: .15s;
    animation-fill-mode: forwards;
}
.seperator-h{
    background-color: black;
    height: 1.25%;
}
.seperator-v{
    background-color: black;
    width: 1.25%;
    padding: 0;
}



@media (max-width: 960px),(max-height: 800px){
    .game{
        width: 450px;
        height: 450px;;
    }
}

@media (max-width: 540px), (max-height: 650px){
    .game{
        width: 350px;
        height: 350px;
    }
    button{
        margin: .5em .6em .6em .6em!important;
    }
}

@media (max-width: 440px), (max-height: 650px){
    .game{
        width: 350px;
        height: 350px;
    }
    button{
        margin: .5em .3em .6em .3em!important;
    }
}

@media (max-width: 350px), (max-height: 650px){
    .game{
        width: 300px;
        height: 300px;
    }
}

@keyframes appear {
    0%{
        opacity: .2;
        transform: scale(.1);
    }
    80%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.restart{
    position: relative;
}
.restart > div{
    display: flex;
    justify-content: center;
}
.restart input[type="button"]{
    font-family: 'Kelly Slab', cursive;
    font-size: 1.1rem;
    padding: .55rem 1rem;
    letter-spacing: .1rem;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    margin: 10px 0 10px 0;
    color: #1d1d1d;
    opacity: 0.5;
}
.footer > div{
    display: flex;
    justify-content: center;
}
.footer #links > div{
    margin: 0 .3em;
}
.footer #github{
    color: #24292e;
}
.footer #linkedin{
    color: #0a66c2;
}


button {
    background: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 15px;
    margin: .5em .8em .6em .8em;
    padding: 0.1em .6em;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    font-size: 3.5rem;
    font-family: 'Nunito', sans-serif;
    position: relative;
    vertical-align: middle;
    outline: none;
}

